body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff1e1e;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: rgba(252, 252, 252, 0.955);
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #ececec;
    padding: 50px 20px;
    text-align: center;
}

.team-info {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.drivers-name{
    font-size: 30px;
}

.container{
        background: linear-gradient(180deg, hsl(0, 92%, 71%), rgb(175, 136, 136), rgb(212, 212, 212));
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #0b0a0a;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
        
}